body {
    margin: 0;
    padding: 0;
    background: url(Glorious-blue-mountain-range.jpg) no-repeat;
    background-size: cover;
}

.box{
    width: 450px;
    background: rgba(0, 0, 0, 0.4);
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: white;
    font-family: 'Century Gothic', sans-serif;

}

.box-img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

a:link {
    color: greenyellow;
    background-color: transparent;
    text-decoration: none;
 }
 a:visited {
    color: deepskyblue;
    background-color: transparent;
    text-decoration: none;
 }
 a:active {
    color: yellow;
    background-color: transparent;
 }

 ul{
    margin: 0;
    padding: 0;

 }

 .box li{
    display: inline-block;
    margin: 6px;
    list-style: none;
 }